/** biome-ignore-all lint/suspicious/noUnknownAtRules: <explanation> */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins:
    "Poppins", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Custom Font Classes - dapat digunakan dengan font-* */
  --font-heading-1-regular: 400 30px / auto var(--font-poppins);
  --font-heading-1-medium: 500 30px / auto var(--font-poppins);
  --font-heading-1-semibold: 600 30px / 38px var(--font-poppins);
  --font-heading-1-bold: 700 30px / 38px var(--font-poppins);
  --font-heading-2-regular: 400 24px / auto var(--font-poppins);
  --font-heading-2-medium: 500 24px / auto var(--font-poppins);
  --font-heading-2-semibold: 600 24px / auto var(--font-poppins);
  --font-heading-2-bold: 700 24px / auto var(--font-poppins);
  --font-heading-3-regular: 400 20px / auto var(--font-poppins);
  --font-heading-3-medium: 500 20px / auto var(--font-poppins);
  --font-heading-3-semibold: 600 20px / auto var(--font-poppins);
  --font-heading-3-bold: 700 20px / auto var(--font-poppins);
  --font-heading-4-regular: 400 18px / 110px var(--font-poppins);
  --font-heading-4-medium: 500 18px / 110px var(--font-poppins);
  --font-heading-4-semibold: 600 18px / 110px var(--font-poppins);
  --font-heading-4-bold: 700 18px / 110px var(--font-poppins);
  --font-title-regular: 400 1.25rem / auto var(--font-poppins);
  --font-title-semibold: 600 1.25rem / auto var(--font-poppins);
  --font-title-bold: 700 1.25rem / auto var(--font-poppins);
  --font-body-1-regular: 400 16px / 150px var(--font-poppins);
  --font-body-1-medium: 500 16px / auto var(--font-poppins);
  --font-body-1-semibold: 600 16px / 140px var(--font-poppins);
  --font-body-1-bold: 700 16px / auto var(--font-poppins);
  --font-body-2-regular: 400 14px / 150px var(--font-poppins);
  --font-body-2-medium: 500 14px / 140px var(--font-poppins);
  --font-body-2-semibold: 600 14px / 140px var(--font-poppins);
  --font-body-2-bold: 700 14px / auto var(--font-poppins);
  --font-body-3-regular: 400 13px / auto var(--font-poppins);
  --font-body-3-medium: 500 13px / auto var(--font-poppins);
  --font-body-3-semibold: 600 13px / auto var(--font-poppins);
  --font-body-3-bold: 700 13px / auto var(--font-poppins);
  --font-caption-regular: 400 12px / auto var(--font-poppins);
  --font-caption-medium: 500 12px / auto var(--font-poppins);
  --font-caption-semibold: 600 12px / auto var(--font-poppins);
  --font-caption-bold: 700 12px / auto var(--font-poppins);
  --font-caption-regular: 400 0.625rem / auto var(--font-poppins);
  --font-caption-semibold: 600 0.625rem / auto var(--font-poppins);
  --font-caption-bold: 700 0.625rem / auto var(--font-poppins);
}

html,
body {
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #46bcfc;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size-heading-1: 30px;
  --font-size-heading-2: 24px;
  --font-size-heading-3: 20px;
  --font-size-heading-4: 18px;
  --font-size-title: 20px;
  --font-size-body-1: 16px;
  --font-size-body-2: 14px;
  --font-size-body-3: 13px;
  --font-size-caption: 12px;
  --line-height-display: 120%;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-primary-50: #edf8ff;
  --color-primary-100: #c6eafe;
  --color-primary-200: #aee0fe;
  --color-primary-300: #83d2fd;
  --color-primary-400: #6bc9fd;
  --color-primary-500: #46bcfc;
  --color-primary-600: #40abe5;
  --color-primary-700: #3285b3;
  --color-primary-800: #27678b;
  --color-success-50: #f6fced;
  --color-success-100: #e3f7c7;
  --color-success-200: #d5f3ab;
  --color-success-300: #c2ee85;
  --color-success-400: #b6ea6d;
  --color-success-500: #a4e549;
  --color-success-600: #95d042;
  --color-success-700: #74a334;
  --color-success-800: #5a7e28;
  --color-neutrals-50: #ebecec;
  --color-neutrals-100: #c0c5c3;
  --color-neutrals-200: #a1a9a6;
  --color-neutrals-300: #76817d;
  --color-neutrals-400: #5c6964;
  --color-neutrals-500: #33433d;
  --color-neutrals-600: #2e3d38;
  --color-neutrals-700: #24302b;
  --color-neutrals-800: #1c2522;
  --color-neutrals-900: #151c1a;
  --color-warning-50: #fff6eb;
  --color-warning-100: #ffebbf;
  --color-warning-200: #ffe6a1;
  --color-warning-300: #ffda76;
  --color-warning-400: #ffd35b;
  --color-warning-500: #ffc832;
  --color-warning-600: #e8b62e;
  --color-warning-700: #b58e24;
  --color-warning-800: #8c6e1c;
  --color-warning-900: #6b5415;
  --color-danger-50: #ffeef2;
  --color-danger-100: #ffc9d6;
  --color-danger-200: #ffafc2;
  --color-danger-300: #ff8aa6;
  --color-danger-400: #ff7495;
  --color-danger-500: #ff517a;
  --color-danger-600: #e84a6f;
  --color-danger-700: #b53a57;
  --color-danger-800: #8c2d43;
  --color-danger-900: #6b2233;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Heading 1 */
  .font-heading-1-regular {
    @apply font-[400];
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-display);
  }
  .font-heading-1-medium {
    @apply font-medium;
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-display);
  }
  .font-heading-1-semibold {
    @apply font-semibold;
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-display);
  }
  .font-heading-1-bold {
    @apply font-bold;
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-display);
  }

  /* Heading 2 */
  .font-heading-2-regular {
    @apply font-[400];
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-display);
  }
  .font-heading-2-medium {
    @apply font-medium;
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-display);
  }
  .font-heading-2-semibold {
    @apply font-semibold;
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-display);
  }
  .font-heading-2-bold {
    @apply font-bold;
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-display);
  }

  /* Heading 3 */
  .font-heading-3-regular {
    @apply font-[400];
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-display);
  }
  .font-heading-3-medium {
    @apply font-medium;
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-display);
  }
  .font-heading-3-semibold {
    @apply font-semibold;
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-display);
  }
  .font-heading-3-bold {
    @apply font-bold;
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-display);
  }

  /* Heading 4 */
  .font-heading-4-regular {
    @apply font-[400];
    font-size: 18px;
    line-height: 110%;
  }
  .font-heading-4-medium {
    @apply font-medium;
    font-size: 18px;
    line-height: 110%;
  }
  .font-heading-4-semibold {
    @apply font-semibold;
    font-size: 18px;
    line-height: 110%;
  }
  .font-heading-4-bold {
    @apply font-bold;
    font-size: 18px;
    line-height: 110%;
  }

  /* Title */
  .font-title-regular {
    @apply font-[400];
    font-size: var(--font-size-title);
    line-height: var(--line-height-display);
  }
  .font-title-semibold {
    @apply font-semibold;
    font-size: var(--font-size-title);
    line-height: var(--line-height-display);
  }
  .font-title-bold {
    @apply font-bold;
    font-size: var(--font-size-title);
    line-height: var(--line-height-display);
  }

  /* Body 1 */
  .font-body-1-regular {
    @apply font-[400];
    font-size: 16px;
    line-height: 150%;
  }
  .font-body-1-medium {
    @apply font-medium;
    font-size: 16px;
    line-height: normal;
  }
  .font-body-1-semibold {
    @apply font-semibold;
    font-size: 16px;
    line-height: 140%;
  }
  .font-body-1-bold {
    @apply font-bold;
    font-size: 16px;
    line-height: normal;
  }

  /* Body 2 */
  .font-body-2-regular {
    @apply font-[400];
    font-size: 14px;
    line-height: 150%;
  }
  .font-body-2-medium {
    @apply font-medium;
    font-size: 14px;
    line-height: 140%;
  }
  .font-body-2-semibold {
    @apply font-semibold;
    font-size: 14px;
    line-height: 140%;
  }
  .font-body-2-bold {
    @apply font-bold;
    font-size: 14px;
    line-height: normal;
  }

  /* Body 3 */
  .font-body-3-regular {
    @apply font-[400];
    font-size: 13px;
    line-height: normal;
  }
  .font-body-3-medium {
    @apply font-medium;
    font-size: 13px;
    line-height: normal;
  }
  .font-body-3-semibold {
    @apply font-semibold;
    font-size: 13px;
    line-height: normal;
  }
  .font-body-3-bold {
    @apply font-bold;
    font-size: 13px;
    line-height: normal;
  }

  /* Caption */
  .font-caption-regular {
    @apply font-[400];
    font-size: var(--font-size-caption);
    line-height: normal;
  }
  .font-caption-medium {
    @apply font-medium;
    font-size: var(--font-size-caption);
    line-height: normal;
  }
  .font-caption-semibold {
    @apply font-semibold;
    font-size: var(--font-size-caption);
    line-height: normal;
  }
  .font-caption-bold {
    @apply font-bold;
    font-size: var(--font-size-caption);
    line-height: normal;
  }
}
